# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/codec_aac/FileContentIndex/7683b04b-1f66-4012-a926-16f1eb11ebaa.vsidx
.vs/codec_aac/FileContentIndex/b23412ef-92f0-497f-a1ff-b502341fe99e.vsidx
.vs/codec_aac/FileContentIndex/c807f439-3ea4-4761-871f-ab876e3912e8.vsidx
.vs/codec_aac/FileContentIndex/fe92b8d3-f9bb-45bf-966f-7bafeca011c9.vsidx
.vs/codec_aac/FileContentIndex/read.lock
.vs/codec_aac/v17/.suo
.vs/codec_aac/v17/Browse.VC.db
.vs/codec_aac/v17/ipch/AutoPCH/4aafb3c554e1607e/MAIN.ipch
.vs/codec_aac/v17/ipch/AutoPCH/9440860382e37db5/MAIN.ipch
.vs/codec_aac/v17/ipch/AutoPCH/aca6700434eb0f4d/CODEC.ipch
codec_aac.vcxproj
Debug/codec_aac.Build.CppClean.log
Debug/codec_aac.exp
Debug/codec_aac.log
Debug/codec_aac.pdb
Debug/codec_aac.tlog/CL.command.1.tlog
Debug/codec_aac.tlog/codec_aac.lastbuildstate
Debug/codec_aac.tlog/unsuccessfulbuild
Debug/codec_aac.vcxproj.FileListAbsolute.txt
Debug/vc143.pdb
Release/codec_aac.pdb
Release/codec_dll.exp
Release/libfaad.pdb
Release/vc143.pdb
x64/Release/codec_aac.Build.CppClean.log
x64/Release/codec_aac.dll.recipe
x64/Release/codec_aac.log
x64/Release/codec_aac.tlog/CL.command.1.tlog
x64/Release/codec_aac.tlog/CL.read.1.tlog
x64/Release/codec_aac.tlog/CL.write.1.tlog
x64/Release/codec_aac.tlog/codec_aac.lastbuildstate
x64/Release/codec_aac.tlog/codec_aac.write.1u.tlog
x64/Release/codec_aac.tlog/link.command.1.tlog
x64/Release/codec_aac.tlog/link.read.1.tlog
x64/Release/codec_aac.tlog/link.write.1.tlog
x64/Release/codec_aac.tlog/link.write.2u.tlog
x64/Release/codec_aac.tlog/unsuccessfulbuild
x64/Release/codec_aac.vcxproj.FileListAbsolute.txt
Release/codec_aac.pdb
Release/codec_dll.exp
Release/libfaad.pdb
Release/vc143.pdb
x64/Release/codec_aac.Build.CppClean.log
x64/Release/codec_aac.dll.recipe
x64/Release/codec_aac.log
x64/Release/codec_aac.tlog/CL.command.1.tlog
x64/Release/codec_aac.tlog/CL.read.1.tlog
x64/Release/codec_aac.tlog/CL.write.1.tlog
x64/Release/codec_aac.tlog/codec_aac.lastbuildstate
x64/Release/codec_aac.tlog/codec_aac.write.1u.tlog
x64/Release/codec_aac.tlog/link.command.1.tlog
x64/Release/codec_aac.tlog/link.read.1.tlog
x64/Release/codec_aac.tlog/link.write.1.tlog
x64/Release/codec_aac.tlog/unsuccessfulbuild
x64/Release/codec_aac.vcxproj.FileListAbsolute.txt
